<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | safe }}</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
</head>

<body class="grid-container">

  <header class="header">
      <a href="{{ '/' | url }}">
        <img src="{{ '/assets/images/shoreleave.jpg' | url }}" class="header-image">
        <div class="header-text">
            <h1>shore leave</h1>
        </div>
      </a>  
  </header>

  <main class="posts">
    {% for post in collections.posts %}
      <a href="{{ post.url | url }} " class="post">
        <h2>{{ post.data.title }}</h2>
        <div class="preview-image-container"  style="background: url('{{ post.data.previewImage | url }}') no-repeat center center; background-size: cover;">
        </div>          
        <p>{{ post.data.description }}</p>
      </a>
    {% endfor %}
  </main>

  <footer class="footer">
    <p>
      <form
				action="https://buttondown.email/api/emails/embed-subscribe/shoreleave"
				method="post"
				target="popupwindow"
				onsubmit="window.open('https://buttondown.email/shoreleave', 'popupwindow')"
				class="embeddable-buttondown-form"
				>
				<input type="email" name="email" id="bd-email" />
				<input type="submit" value="Subscribe" />
			</form></p>
    <p class="motto">SEEKING: "a thousand forms of health and hidden islands of life"</p>
    <a href="http://www.henryweikel.net">henryweikel.net</a>
  </footer>
  
</body>

</html>