<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | safe }}</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
</head>

<body class="grid-container">

  <header class="header">
        <img src="{{ '/assets/images/shoreleave.jpg' | url }}" class="header-image">
        <div class="header-text">
            <h1><a href="{{ '/' | url }}">shore leave</a></h1>
            <p class="motto">SEEKING: "a thousand forms of health <br/> and hidden islands of life"</p>
        </div>
  </header>

  <main class="posts">
    {% for post in collections.posts %}
      <a href="{{ post.url | url }}" class="post">
        <img src="{{ post.data.previewImage | url }}" class="preview-image">
        <h2>{{ post.data.title }}</h2>
        <p>{{ post.data.description }}</p>
      </a>
    {% endfor %}
  </main>

  <footer class="footer">
    <p>sign up to receive updates: ___</p>
    <a href="http://www.henryweikel.net">henryweikel.net</a>
  </footer>
  
</body>

</html>